* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-xl {
    width: 1400px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.side {
    width: calc((100% / 3) - (96px / 3));
}

.central {
    width: calc((100% / 3) - (96px / 3));
    margin: 0 48px;
}

.blue-button {
    background-color: #0063FF;
    color: #fff;
    border: 1px #0063FF solid;
    padding: 8px 16px;
}

.text-link {
    color: #2d7cfa;
    font-weight: bold;
}

.filter {
    filter: invert(100%);
}

h1 {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 30px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    padding: 10px 0;
}
/*******************************************/

/* Header */
header {
    background-color: #ADD1EA;
}
/* / Header */

/* Nav-bar */
nav {
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    padding: 0 20px;
}

.logo {
    display: inline-block;
    margin-right: 30px;
}

.logo img {
    vertical-align: text-bottom;
}

.nav-list {
    display: inline-block;
}

.nav-list li {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.nav-list a {
    color: #000;
    text-decoration: none;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
}

.start-button {
    padding: 6px 12px;
}
/* / Nav-bar */

/* Jumbotron */
.jumbotron {
    padding-top: 50px;
}

.jumbo-content {
    width:calc(30% - 30px);
    margin-right: 60px;
}

.jumbo-content button {
    margin-top: 20px;
}

.cancel {
    padding: 10px 0 40px 0;
}

.jumbo-image {
    width: calc(70% - 30px);
}

.jumbo-image img {
    width: 100%;
    margin-bottom: -90px;
}
/* / Jumbotron */

/* Pricing */
.pricing-container {
    margin-top: 200px;
}

.pricing-title {
    padding-bottom: 40px;
}

.payment-period {
    margin-right: 15px;
}

.content-box {
    height: 1050px;
    margin-top: 30px;
    border: 2px #D0D0D3 solid;
}

.target {
    padding: 12px;
    text-align: center;
    border-bottom: 2px #D0D0D3 solid;
}

.target.team::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ad";
    padding-right: 3px;
}

.account-box {
    padding: 30px 30px;
}

.account-price {
    margin-bottom: 40px;
}

.grey-text{
    color: #4c6f88;
}

.account-list {
    font-weight: bold;
    list-style: none;
}

.account-list li {
    font-weight: normal;
    padding: 15px 0;
}

.user::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    padding-right: 3px;
}

.users::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    padding-right: 3px;
}

.storage::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f07b";
    padding-right: 3px;
}

.production::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    padding-right: 3px;
}


.free-trial-account button {
    width: 100%;
    margin: 20px 0 25px ;
}

.hr {
    width: 55px;
    border: 1px #D0D0D3 solid;
    margin: 30px 0 50px 0;
}

.check::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0063FF;
    padding-right: 3px;
}

.content-box-lg {
    margin-top: 50px;
    border: 2px #D0D0D3 solid;
}

.enterprise-text {
    margin-top: 25px;
}
/* / Pricing */

/* Partner */
.partner-container {
    margin-top: 150px;
}

.partner-image {
    width: 60%;
}

.partner-image img {
    width: 100%;
}

.partner-text {
    padding: 60px 0 0 50px;
    width: 40%;
}

.partner-text p {
    line-height: 30px;
    padding: 30px 0 25px 0;
}

.partner-button {
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px #000 solid;
}
/* / Partner */

/* Function */
.function-container {
    margin: 80px auto 100px auto;
}

.function-title {
    padding-bottom: 40px;
}

.function-image img {
    width: 100%;
}

.function-text {
    padding: 20px 0 80px 0;
}
/* Function */

/* Network */
.network-title {
    padding-bottom: 30px;
}

.network-container {
    margin-top: 50px;
}

.side-network {
    width: 30vw;
}

.side-network-image {
    position: relative;
    width: 15vw;
    height: 15vw;
}

.side-network-image img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-network {
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: #F5F5F5;
    padding: 40px 40px;
}

.main-network-image {
    width: 30%;
}

.main-network-image img {
    width: 90%;
}

.main-network-quote {
    padding: 40px 0 50px 0;
}

.bg-1 {
    background-color: #94D595;
    border: 10px #CAEACB solid;
}

.bg-2 {
    background-color: #6B002B;
}

.bg-3 {
    background-color: #0096D3;
}

.bg-4 {
    background-color: #FF0000;
}

.bg-5 {
    background-color: #E90006;
}

.bg-6 {
    background-color: #ADD1EA;
}

.bg-7 {
    background-color: #022486;
}

.bg-8 {
    background-color: #FFD600;
}

.container-bg {
    background-color: #ADD1EA;
}

.join-us-container {
    padding: 100px 0;
}

.join-us-text {
    width: 75%;
}

.join-us-text h2 {
    width: 50%;
    color: #6B002B;
}

.join-us-button {
    width: 25%;
}

.join-us-button button {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
}
/* / Network */

/* Faq */
.faq-container {
    margin: 100px 0;
}

.faq-title {
    border-bottom: 1px #D0D0D3 solid;
    padding-bottom: 40px;
}

.faq-question {
    border-bottom: 1px #D0D0D3 solid;
    font-weight: bold;
    padding: 25px 0;
    position: relative;
}

.faq-question::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 30px;
}
/* / Faq */

/* Footer */
footer {
    background-color: #000;
}
.footer-list-title {
    padding-bottom: 20px;
}

.footer-list {
    width: calc(1400px / 5);
    color: #fff;
    padding: 60px 0 80px 0;
}

.footer-list li {
    list-style: none;
    padding: 5px 0;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
}

.footer-hr {
    width: 125px;
    border: 1px #808080 solid;
}

.language {
    color: #808080;
    padding: 40px 0 30px 0;
}
/* / Footer */