* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-xl {
    width: 1400px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.side {
    width: calc((100% / 3) - (96px / 3));
}

.central {
    width: calc((100% / 3) - (96px / 3));
    margin: 0 48px;
}

.title {
    font-size: 40px;
}

.blue-button {
    background-color: #0063FF;
    color: #fff;
    border: 1px #0063FF solid;
    padding: 8px 16px;
}

.text-link {
    color: #2d7cfa;
    font-weight: bold;
}
/*************************************/
/* Header */
header {
    background-color: #ADD1EA;
}
/* / Header */

/* Nav-bar */
nav {
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    padding: 0 20px;
}

.logo {
    display: inline-block;
    margin-right: 30px;
}

.logo img {
    vertical-align: text-bottom;
}

.list {
    display: inline-block;
}

.list li {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.list a {
    color: #000;
    text-decoration: none;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
}

.start-button {
    padding: 6px 12px;
}
/* / Nav-bar */

/* Jumbotron */
h1 {
    font-size: 85px;
}

.jumbotron {
    padding-top: 50px;
}

.jumbo-content {
    width: calc(30% - 30px);
}

.cancel {
    font-size: 14px;
    padding: 15px 0 30px 0;
}

.jumbo-image {
    width: calc(70% - 30px);
}

.jumbo-image img {
    width: 100%;
    margin-bottom: -90px;
}
/* / Jumbotron */

/* Main */
main {
    padding-top: 200px;
}
/* / Main */

/* Pricing */
.pricing-title {
    margin-bottom: 40px;
}

.content-box {
    height: 1050px;
    margin-top: 30px;
    border: 2px #D0D0D3 solid;
}

.content-box-lg {
    margin-top: 50px;
    border: 2px #D0D0D3 solid;
}

.target {
    padding: 12px;
    text-align: center;
    border-bottom: 2px #D0D0D3 solid;
}

.target.private::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    padding-right: 3px;
}

.target.team::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ad";
    padding-right: 3px;
}

.account-box {
    padding: 30px 30px;
}

.account-price {
    margin-bottom: 40px;
}

h3 {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
}

h4 {
    font-weight: bolder;
    margin-bottom: 10px;
}

.grey-text{
    color: #4c6f88;
}

.enterprise-text {
    margin-top: 25px;
}

.account-list {
    font-weight: bold;
    list-style: none;
}

.account-list li {
    font-weight: normal;
    margin: 20px 0;
}

.free-trial-account button {
    width: 100%;
    margin: 20px 0 25px ;
}

.hr {
    width: 55px;
    border: 1px #D0D0D3 solid;
    margin: 30px 0 50px 0;
}

.user::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    padding-right: 3px;
}

.users::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    padding-right: 3px;
}

.storage::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f07b";
    padding-right: 3px;
}

.production::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    padding-right: 3px;
}

.check::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0063FF;
    padding-right: 3px;
}
/* / Pricing */

/* Partner */
.partner-container {
    margin-top: 150px;
}

.partner-image {
    width: 60%;
}

.partner-image img {
    width: 100%;
}

.partner-text {
    padding: 60px 0 0 30px;
    width: 40%;
}

.partner-text p {
    line-height: 30px;
    margin: 30px 0 25px 0;
}

.partner-button {
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px #000 solid;
}
/* / Partner */

/* Function */
.function-title {
    margin: 100px 0 30px 0;
}

.function-image img {
    width: 100%;
}

.function-text {
    padding: 20px 0 80px 0;
    line-height: 22px;
}
/* Function */

/* Network */

.network-title {
    margin-bottom: 30px;
}

.side-network {
    width: 30%;
}

.main-network {
    width: 40%;
    background-color: #F5F5F5;
    padding: 40px 40px;
}

.main-network-image {
    width: 30%;
}

.main-network-image img {
    width: 100%;
}

.quote-author {
    padding: 40px 0 50px 0;
}

.network-image {
    width: 50%;
    text-align: center;
}

.network-image img {
    width: 50%;
}

.bg-1 {
    background-color: #94D595;
}

.bg-2 {
    background-color: #6B002B;
}

.bg-3 {
    background-color: #0096D3;
}

.bg-4 {
    background-color: #FF0000;
}

.bg-5 {
    background-color: #E90006;
}

.bg-6 {
    background-color: #ADD1EA;
}

.bg-7 {
    background-color: #022486;
}

.bg-8 {
    background-color: #FFD600;
}

.container-bg {
    background-color: #ADD1EA;
}

.free-trial-container {
    padding: 100px 0;
}
/* / Network */

/* Faq */
.faq-container {
    padding: 80px 0;
}

.faq-title {
    border-bottom: 1px #D0D0D3 solid;
    padding-bottom: 40px;
}

.faq-question {
    border-bottom: 1px #D0D0D3 solid;
    font-weight: bold;
    padding: 25px 0;
    position: relative;
}

.faq-question::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 30px;
}
/* / Faq */

/* / Main */